#footerbox {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: Quicksand;
    color: #3F3F3F;
    text-align: center;
}

ul.foot {
    text-align: center;

}

ul.foot li {
    display: inline;
    color: #666699;
    position: relative;
}

ul.foot a {
    color: #666699;
}

@font-face {
    font-family: Quicksand;
    src: url('../font/Quicksand-Regular.otf');
}