

body {
	background-image: url('../images/photos/bf-22-schematic-background.png');
	background-color: #1f292e;
	font-family: Quicksand;
	border: 0px;
	margin: 0px;
	padding: 0px;
	font-size: 1.0em;
}

p {
	line-height: 1.5em;
	color: #bababa;
}

h1, h2, h3, h4, h5, h6, p {
	text-align: justify;
}

.header {
	text-align: justify;
	font-family: Titillium;
}

.pink {
	color: #ca3875;
}

.aqua {
	color: #40A79C;
}

.gold {
	color: #98930A;
}

.teal {
	color: #00B675;
}

.lavender {
	color: #7A68AE;
}

.green {
	color: #3bb662;
}

a {
	color: #c45ccf;
	text-decoration: none;
}
/*  */
h2 {
	font-weight: 700;
}

br {
	clear: both;
}

#contentstrip {
    background-color: #10181d;
	width: 75%;
	min-width: 564px;
	max-width: 1180px;
	margin: auto;
	padding: 0;
	border: 0;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

#main {
	background-color: #2b2b2b;
	position: relative;
	width: 100%;
	border: 0;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding: 0;
	padding-top: 15px;
	padding-bottom: 20px;
}

.post {
	margin-left: auto;
	margin-right: auto;
	width: 80%;

	padding-top: 20px;
	padding-bottom: 30px;
	mask-image: none;
	mask-size: 100% 100%;
	mask-repeat: no-repeat;
	mask-position: 0% 0%;
}

.centeredimage {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}

.centeredimage img {
	margin: 0px;
	padding: 0px;
	padding-bottom: 2%;
	border: 0px;
	width: 100%;
}

.bandcampplayer {
	border: 0;
	width: 150px;
	height: 150px;
	margin: auto;
}

.morecontent {
	padding: 8px;
	margin-left: auto;
	width: 60px;
}

.morecontent * {
	margin: auto;
	float: right;
}

.morecontent .expandpost {
	width: 55px;
	padding: 2px;
	color: #c45ccf;
	background-color: #10181d;
	border: 0;
	border-radius: 10px;
	font-family: Titillium;
	font-size: 1em;
	font-weight: normal;
}

.morecontent .expandpost:hover {
	font-weight: bold;
	padding: 3px;
}

.mediaflow {
	width: 100%;
	display: flex;
	align-items: start;
}

.mediaflow>* {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 8px;
	margin-right: 8px;
}

.pblock>p {
	margin-top: 0;
	margin-bottom: 12px;
}

/*  TODO move some of the area-specific styling to separate style sheets  */
ul {
	color: #bababa;
	list-style-type: kannada;
}

.songdetails {

}

.instrument {
	color:#ca3875;
}

@font-face {
	font-family: Quicksand;
	src: url('../font/Quicksand-Regular.otf');
}

@font-face {
	font-family: Titillium;
	src: url('../font/Titillium-Regular.otf');
}

@font-face {
		font-family: Asap;
		src: url('../font/Asap-Regular.otf');
}
@font-face {
	font-family: Capsuula;
	src: url('../font/Capsuula.ttf');
}