

body {
	background-image: url('../images/photos/bf-22-schematic-background.png');
	background-color: #1f292e;
	font-family: Quicksand;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

p {
	line-height: 1.4em;
	color: #bababa;
}

h1, h2, h3, h4, h5, h6, p {
	text-align: justify;
}

a {
	color: #c45ccf;
	text-decoration: none;
}
/*  */
h2 {
	font-weight: 700;
}

h2, h3, h4 {
	font-family: Asap;
	color: #2F2F2F;
}

br {
	clear: both;
}

ul {
	color: #404040;
}

.pinkheader {
	font-family: Titillium;
	color: #ca3875;
}

.aquaheader {
	font-family: Titillium;
	color: #40A79C;
}

.goldheader {
	font-family: Titillium;
	color: #98930A;
}

.tealheader {
	font-family: Titillium;
	color: #00B675;
}

.lavenderheader {
	font-family: Titillium;
	color: #7A68AE;
}

.greenheader {
	font-family: Titillium;
	color: #3bb662;
}

.contentstrip {
    background-color: #10181d;
	width: 75%;
	min-width: 564px;
	max-width: 1180px;
	margin: auto;
	padding: 0;
	border: 0;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

#main {
	background-color: #2b2b2b;
	position: relative;
	width: 100%;
	border: 0;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding: 0;
	padding-top: 15px;
	padding-bottom: 20px;
}

.post {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.centeredimage {
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

.centeredimage img {
	margin: 0px;
	padding: 0px;
	padding-bottom: 2%;
	border: 0px;
	width: 100%;
}

@font-face {
	font-family: Quicksand;
	src: url('../font/Quicksand-Regular.otf');
}

@font-face {
	font-family: Titillium;
	src: url('../font/Titillium-Regular.otf');
}

@font-face {
		font-family: Asap;
		src: url('../font/Asap-Regular.otf');
}
@font-face {
	font-family: Capsuula;
	src: url('../font/Capsuula.ttf');
}