.footer {
    width: 100%;
    /* margin: 0; */
    font-family: ImpactLabel;
    color: #3F3F3F;
    text-align: center;
    padding-bottom: 6px;
    padding-top: 6px;
    height: 24px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: #666699;
}

.footer .item {
    margin-left: 42px;
}

.footer .item a {
    color: #8a6699;
}

@font-face {
    font-family: ImpactLabel;
    src: url('../font/Impact_Label_Reversed.ttf');
}