.row {
	width: 100%;
	overflow: hidden;
}

.cell {
    margin: auto;
	float: left;
	padding: 2%;
	border: 0px;
}
/* 
.row>.cell>* {
	margin: auto;
	width: 100%;
} */

.threecolumn {
	width: 100%;
    margin-left: 0;
	margin-right: 0;
}

.threecolumn div {
	width: 28%;
	/*  */
}

.twocolumn {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.twocolumn div {
	width: 45%;
}